body {
    background-color: purple;
    color: blue;
}
h1 {
    background-color: brown;
    color: blue;
    text-align: center;
}
p {
    background-color: cornflowerblue;
    color: blue;
}
ul {
    background-color: aquamarine;
    color: blue;
}
.img {

}


