body {
padding: 50px;
margin: 50px;
} 

.object {
    background-color: black;
    color: white;
}
.object-child {
    margin: 50px;
    padding: 50px;
    
}
.center {
    background-color: blue;
    margin: 50px;
    padding: 50px;
}
#list {
    background-color: burlywood;
    margin: 50px;
    padding: 50px; 
} 
.sep {
    background-color: black;
    text-transform: capitalize;
    text-decoration: solid;
    color: darkolivegreen;
}
#list {
    background-color: skyblue;
    color: yellow;
    line-height: 20px;
    text-decoration: line-through;
} 
.show {
    display: block;
    margin-left: 220px;
    margin-right: 100px;
    width: 150px;
    
}
img {
    width: 600px;
    height: 700px;
}


